#Name|Type
Go|corner
Mediteranean Avenue|street
Community Chest|community
Baltic Avenue|street
Income Tax|income
Reading Railroad|railway
Oriental Avenue|street
Chance|chance
Vermont Avenue|street
Connecticut Avenue|street
Jail|corner
#corners, streets, railways,utilitites, chance, community, luxary,income, corner